.wc-ad-manage-avatars {
	margin: 20px 0;
}

.wc-ad-manage-avatars a {
	position: relative;
}

.wc-ad-manage-avatars a,
.wc-ad-manage-avatars a img {
	display: inline-block;
}
.wc-ad-manage-avatars a img {
	border: 4px solid transparent;
}

.wc-ad-manage-avatars a:focus {
	outline: none;
}

body:not(.wp-admin) .wc-ad-manage-avatars a,
body:not(.wp-admin) .wc-ad-manage-avatars .upload-avatar {
	max-width: 0;
	overflow: hidden;
}
body:not(.wp-admin) .wc-ad-manage-avatars .upload-avatar {
	max-height: 0;
}
body.wp-admin .wc-ad-manage-avatars .upload-avatar {
	display: none;
}

.wc-ad-manage-avatars a,
.wc-ad-manage-avatars a img,
.wc-ad-manage-avatars .upload-avatar,
body:not(.wp-admin) .wc-ad-manage-avatars a.status-featured:hover::before {
	transition: all 200ms ease-in-out;
}

body:not(.wp-admin) .wc-ad-manage-avatars a.status-featured,
body:not(.wp-admin) .wc-ad-manage-avatars.expanded a,
body:not(.wp-admin) .wc-ad-manage-avatars.expanded .upload-avatar {
	max-width: 100%;
}
.wc-ad-manage-avatars.expanded .upload-avatar {
	max-height: 100%;
}

.wc-ad-manage-avatars a.status-featured img {
	border-color: red;
}

body:not(.wp-admin) .wc-ad-manage-avatars a.status-featured::before {
	content: '\270E';
	position: absolute;
	z-index: 2;
	top: 5px;
	right: 5px;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background-color: red;
	color: #fff;
	font-size: 16px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
	opacity: 0;
}

body:not(.wp-admin) .wc-ad-manage-avatars a.status-featured:hover::before {
	opacity: 1;
}
body:not(.wp-admin) .wc-ad-manage-avatars.expanded a.status-featured:hover::before {
	opacity: 0;
}
